#rosemask {
    position: fixed;
    width: 100%;
    z-index: 999;
    pointer-events: none;
}

#rosemask_upper,
#rosemask_lower {
    height: 1000px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

#rosemask_centre {
    height: 200px;
    width: 100%;
}